.hero {
  height: 100vh;
  width: 100%;
  overflow: hidden;

  &-img {
    background-size: cover;
    background-image: url("https://res.cloudinary.com/dy8c4mtkl/image/upload/v1604024809/Screen_Shot_2020-10-29_at_9.26.11_PM_liutkw.png");
    background-position:center;
    
    width: 100%;
    height: 100%;
    
    -webkit-animation: heroAnim 15s ease 1s forwards;
    animation: heroAnim 15s ease 1s forwards;
  }

}
